practicas/p14/cinefanatico.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT cinefanatico (tarjeta+) >
<!ELEMENT tarjeta (nombre, correo, (telefono, telefono?)?)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT correo (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ATTLIST tarjeta noseria CDATA #REQUIRED visitas CDATA #REQUIRED puntos CDATA #REQUIRED>
<!ATTLIST telefono tipo (movil|casa) #REQUIRED>